@media screen and (max-width: 768px) {
    .gallery {
        flex-flow: column nowrap;
    }

    .gallery > * {
        flex-shrink: 1;
        flex-grow: 1;
        width: 100%;
    }

    .wrapper.style2 {
        padding: 2rem;
    }

    .spotlight {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    
    .spotlight > * {
        flex-shrink: 1;
        flex-grow: 1;
    }
    
    .spotlight > * {
        width: 100%;
    }
}